body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.navbar{
    background: #064663;
    display: flex;
    justify-content: center;
}

.navbar-container{
    display: flex;
    justify-content: center;
    gap: 14px;
}

.navbar-container a{
    display: flex;
    color: #ECB365;
    padding: 10px;
    font-size: 15px;
}

.selected-tab{
    background: rgba(179, 48, 67, 0.85);
}

.navbar-container a:hover{
    color: white;
}

.navbar__buttons{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 5px;
    right: 2%;
}

.navbar__button{
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 2px white solid;
    padding: 8px;
}
.main-app{
    background: #041C32;
    height: 100vh;
}

.sc-app-container{
    display: flex;
    position: relative;
    top: 15px;
    flex-direction: column;
    height: 650px;
    max-width: 500px;
    margin: 0 auto;
    background: #542f35;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    
}

.lvlupButton{
    padding: 15px;
    border-radius: 3px;
    color: black;
    font-weight: 700;
    background: greenyellow;
    user-select: none;
}

.lvlupButton:hover{
    cursor: pointer;
}

.lvlupButton:active{
    background: #15b32d;
}

.sc-sucess-info{
    color: #ECB365;
    font-weight: bold;
    font-size: 20px;
}

.sc-item{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 250px;
    
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    color:white;
    font-size: 25px;
}

.sc-level-info{
    
}

.result-popout{
    display: none;
    padding: 0 10px;
    position: absolute;
    top: 60%;
    border-radius: 5px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    animation: resultAni .4s forwards;
}

.good-result{
    background: rgb(111, 255, 111);
    color: black;
}

.bad-result{
    background: red;
    color: white;
}

.result-enable{
    display: block;
}

@keyframes resultAni {
    0% { transform: scale(.7);}
    40% {transform: scale(1); opacity: 1;}
    100% { transform: scale(.6); opacity: 0;}
  }

.sc-item img{
    padding: 10px;
    border: 2px black solid;
    max-width: 200px;
    object-fit: cover;
}
